---
import { Image } from "astro:assets";
import portrait from "../images/portrait.png";
import { Icon } from "astro-icon/components";

interface Props {
    bgColor?: string;
    width: string
}

const props = Astro.props;
const bgColor = props.bgColor ?? "rgba(0, 0, 0, 50%)";
const width = props.width;
---

<div class="portrait">
    <Image
        widths={[240, 540, 720, portrait.width]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${portrait.width}px`}
        src={portrait}
        alt="Portrait of Marc-Antoine"
    />
    <button
        class="outline contrast cryptedmailjs"
        data-name="marc-antoine"
        data-domain="desrochers"
        data-tld="space"
        aria-label="Send email"
    >
        <Icon name="mdi:email-outline" size="1.5rem" />
    </button>
</div>

<style lang="scss" define:vars={{ bgColor,width }}>
    .portrait {
        position: relative;
        min-width: var(--width);
        width: var(--width);
        height: var(--width);

        > button {
            position: absolute;
            bottom: 0;
            right: 0;
            border: none;
            padding: 0;
            --pico-line-height: 1rem;

            &:focus {
                box-shadow: none;
            }
        }
        img {
            object-fit: contain;
            height: 100%;
            width: 100%;
            background-color: var(--bgColor);
            clip-path: circle(49%);
        }
    }
</style>
